@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}
::-webkit-scrollbar-track {
  background: #00000000;
}

body {
  font-family: "Product Sans";
  margin: 0;
  padding: 0;
  --top-bar-color: #34495e;
}

#top-bar {
  display: flex;
  color: white;
  overflow: hidden;
  padding: 20px;
  align-items: center;
  background-color: var(--top-bar-color);
}

#top-bar a {
  text-decoration: none;
}

#top-bar a:visited {
  color: white;
}

#top-bar-logo {
  width: 50px;
  flex: 10% 1 0;
}

#top-bar-text {
  flex: 40px 1 1;
  font-size: 150%;
  text-align: center;
  font-weight: bolder;
}

#top-bar-profile {
  flex: 40px 0 0;
}

#foot-bar {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 150%;
  background-color: var(--top-bar-color);
}
