.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    text-align: center;
    position: relative;
    left :75%
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  
  #card-your-profile{
      border-radius: 10px 10px 0px 0px;
      background-color: gray;
      margin-top: 10;
      margin-bottom: 10;
      padding: 10%;
  }

  #change-button {
    border: none;
    outline: 0;
    border-radius:  0px 0px 10px 10px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  #change-button:hover {
    opacity: 0.7;
  }

  .requests-view{
      position: absolute;
      top: 10%;
      width: 100%;
      padding-left: 20px;
  }
  #contact-requests{
    padding-left: 3%;
  }

  #requests-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  #requests-table  td,  #requests-table  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #requests-table  tr:nth-child(even){background-color: #f2f2f2;}
  
  #requests-table  tr:hover {background-color: #ddd;}
  
  #requests-table  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .loader-container{
    position: absolute;
    top: 40%;
    left: 40%;
    visibility: hidden;
    padding: 1%;
    background-color: lavender;
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid purple; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
    
  @media only screen  and (max-device-width: 768px){
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 100%;
      left: 0%;
      position: relative;
    }
    .requests-view{
      position: relative;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    } 
  }