#card-holder {
  width: inherit;
  display: grid;
  margin: 15px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 1em;
}

.card {
  background-color: var(--card-background-color);
  display: inline-block;
  margin: 15px;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px;
}

.user-name {
  text-align: center;
  padding: 0 10px;
}

.user-address {
  font-size: 20px;
  text-align: center;
  padding: 0 10px;
}

.user-address-pin {
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
}

.user-contact-button {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  transition-duration: 500ms;
  background-color: var(--card-contact-color);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.user-contact-button:hover {
  filter: brightness(75%);
  cursor: pointer;
  /* background-color: var(--card-contact-color); */
}
