{% extends '/base.html' %}

{% block title %}Hey Plasma{% endblock %}

{% block imports %}
<link href="/static/css/home.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

<div class="card-holder">
    {% for user in users %}
            <div class="card">
                <h1 class="user-name">{{user['name']}} - {{user['blood']}}</h1>
                <p class="user-address">{{user['address']}}</p>
                <p class="user-address-pin">{{user['pin']}}</p>
                <a href="#" class="user-contact-button">Contact</a>
            </div>
    {% endfor %}
</div>

{% endblock %}

<!-- 
Filter
    - By BG
    - Pin
    - StateWise

For user in users:
    Cards
        - Name
        - BG
        - Address
        - Pin
        - onClick -> More Info
                        - Make Request
Footer -->